*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:1100px;
    margin: 0 auto;

}
#header{
    width: 100%;
    height:330px;
    position: relative;
    overflow: hidden;
}
.mainImg{
    position: absolute;
    width: 1100px;

    opacity:0.3;
}
.mainImg img{
    width: 100%;
}
.logo{
    position: absolute;
    z-index: 10;
}
.logo img{
    width: 200px;
    margin: 50px 0 0 50px;
}
#menu{
    width: 100%;
    top:0;
    position: absolute;
    display: flex;
    justify-content:end;
    align-content: flex-start;
    z-index: 10;
}
.menuBar{
    width:100px;
    height: 100px;
    border-radius: 100px;
    margin:10px 10px 0 0;
    cursor: pointer;
}
#menu .a{
    background: #00acec;
    text-align: center;
    font-size: 60px;
    padding-top:10px;
}

#menu .a:hover{
    width: 200px;
    height: 100px;
    border-radius: 30px;

}
#menu .a:hover i{
    opacity: 0;
}
#menu .a:hover::before{
padding-top:25px;
content:"장난감 목록";
display: block;
font-size: 20px;
animation: move 0.5s normal;
color:#fff;

}
#menu .b{
    background: #67B730;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
}
#menu .b:hover i{
    opacity: 0;
}
#menu .b:hover{
    width: 200px;
    height: 100px;
    border-radius: 30px;
}
#menu .b:hover::before{
padding-top: 20px;
content:"장난감 대여내역";
display: block;
font-size: 20px;
animation: move 0.5s normal;
color:#fff;
}
#menu .c{
    background: #DC3127;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
}
#menu .c:hover i{
    opacity: 0;
}
#menu .c:hover{
    width: 200px;
    height: 100px;
    border-radius: 30px;
}
#menu .c:hover::before{
padding-top: 20px;
content:"커뮤니티";
display: block;
font-size: 20px;
animation: move 0.5s normal;
color:#fff;
}
@keyframes move{
    0%{
        opacity: 0;
        font-size: 0;
    }
    100%{

        width: 200px;
        height: 100px;
    }
}
.detail{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background: #00acec;
    color: #fff;
    font-size: 30px;
    padding:5px 0 5px 50px;
}
#toyName{
    width: 100%;
    height: 300px;
    display: flex;
}
#toyName img{
    width: 500px;
    height: 300px;
}
.name{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
}
.choice{
    height: 50px;
    margin: 0 10px;
    font-size: 30px;
    background: #00acec;
    color: #fff;
    text-shadow: -1px -1px 3px #000;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.choice:hover{
    background: #DC3127;
}
#toyTable{
    width: 100%;
    height: 80px;
}
#toyTable tr td{
    border: 1px solid gray;
    padding-left: 30px;
}
#toyTable td:nth-child(1){
    width: 500px;
}
#caution{
    width: 100%;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgEX{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#imgEX img{
    padding: 5px;
}


#pay{
    margin-bottom: 10px ;
}
.dPay{
    border-radius: 10px 10px 0 0;
}
#pay table{
    width: 100%;
    padding: 20px 50px 30px 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-bottom: 3px dotted #00acec;
}
#pay table td:nth-child(1){
    text-align: end;
    padding-right: 50px;
}
#pay table td:nth-child(2){
    text-align: start;
    padding-left:  50px;
}
.payTable input{
    width: 50px;
    font-size: 30px;
    text-align: center;
}
#payBT{
    width: 100%;
    height: 50px;
    background: #00acec;
    font-size: 30px;
    color: #fff;
    border-radius: 0 0 10px 10px;
    border: 0;
    cursor: pointer;
}
#payBT:hover{
    background: #DC3127;

}
.payMenu{
    width: 100%;
    padding:10px 50px;
    display: flex;
    font-size: 50px;
    justify-content: space-between;

}
.checkBox{
    width: 60%;
    display: flex;
    font-size: 30px;
    align-items: flex-end;
    justify-content: space-between;
}
.checkBox input{
    width:25px;
    height:25px;
}
.payText{
    text-align: center;
    color:#DC3127;
    padding: 20px 0;
}
#card{
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
}
#card img{
    width: 300px;
    height: 200px;
    margin: 10px 0;
    border-radius: 10px;
}


#footer{
    width: 100%;
    height: 100px;
    padding: 20px 0 10px 0;
    border-top: 3px double #000;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sns{
    display: flex;
    align-items:center;
}
.sns i{
    margin-left: 20px;
    font-size: 70px;
}
.sns .d{
    background: linear-gradient(to bottom left, #4441da, #e62a7f, #f49f4e);
    -webkit-background-clip: text;
    color: transparent;
}
.sns .e{
    color:#1d9bf0;
}
.sns .f{
    color:#0733ca;
}