
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    width:1100px;
    margin: 0 auto;

}
ul{list-style:none;}

#header{
    width: 1100px;
    height:200px;
    position: relative;
    overflow: hidden;
}
#header img{
    width: 1100px;
    position:absolute;
    top:-50px;
    opacity:0.4;
}
#menu{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:end;
    align-content: flex-start;
    z-index: 10;
}
.menuBar{
    width:100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 10px;
}
#menu a{
    display:block;
}
#menu .a{
    background: #00acec;
    text-align: center;
    font-size: 60px;
    padding-top:10px;
}

#menu .a:hover{
    width: 200px;
    height: 100px;
    border-radius: 30px;

}
#menu .a:hover i{
    opacity: 0;
}
#menu .a:hover::before{
padding-top:25px;
content:"장난감 목록";
display: block;
font-size: 20px;
animation: move 0.5s normal;
color:#fff;

}
#menu .b{
    background: #67B730;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
}
#menu .b:hover i{
    opacity: 0;
}
#menu .b:hover{
    width: 200px;
    height: 100px;
    border-radius: 30px;
}
#menu .b:hover::before{
padding-top: 20px;
content:"장난감 대여내역";
display: block;
font-size: 20px;
animation: move 0.5s normal;
color:#fff;
}
#menu .c{
    background: #DC3127;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
}
#menu .c:hover i{
    opacity: 0;
}
#menu .c:hover{
    width: 200px;
    height: 100px;
    border-radius: 30px;
}
#menu .c:hover::before{
padding-top: 20px;
content:"커뮤니티";
display: block;
font-size: 20px;
animation: move 0.5s normal;
color:#fff;
}
@keyframes move{
    0%{
        opacity: 0;
        font-size: 0;
    }
    100%{

        width: 200px;
        height: 100px;
    }
}

/*===============  중단 ========*/

#main{
    width:100%;
    position:relative;
}
/*====  슬라이드  ====*/
#slide_wrap{
    width:100%;
    position:relative;
    margin-bottom:30px;

}
.slide_box{
    width:100%;
    height:300px;
    position:relative;
    overflow: hidden;

}
.slide_box .slider_list{
    display:flex;
    width:3300px;
    position:relative;
    left:0;
    animation: slide_move 15s ease infinite alternate;
}
.slide_box .slider_list li{
    width:1100px;
}
.slide_box .slider_list li img{
    width:100%;
    position:relative;
}
.slide_box .slider_list li:nth-child(2){background:#fca3d4;}
.slide_box .slider_list li:nth-child(2) img{
    position:relative;
    width:900px;
    top:-100px;
    left:50%;
    transform: translate(-50%,0);
}
.slide_box .slider_list li:nth-child(3) img{
    position:relative;
    top:-100px;
}
.slide_box .radio_bt{
    position:absolute;
    right:50px;
    bottom:20px;
}
.slide_box .radio_bt .slide_bt{
    display:inline-block;
    width:20px;
    height:20px;
    background:#fff;
    border-radius: 100%;
}
@keyframes slide_move{
    33.3%{
        left:0;
    }
    66.6%{
        left:-1100px;
    }
    100%{
        left:-2200px;
    }
}


/*====== 상품 목록  ======*/


#article{
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom:100px;
}
#article .section{
    
}
.tayo{background:#00acec;}
.logi{background:#67b730;}
.gani{background:#DC3127;}
.sub_menu_title{font-size:20px; position:relative;}
.cta{
    position: relative;
    text-decoration: none;
    color:#fff;
    transition: all .2s ease;
}
.cta::before{
    content: "";
    position: absolute;
    top: 2px;
    left: -10px;
    display: block;
    border-radius: 28px;
    background: rgba(250,250,250,.5);
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}
.sub_menu_more{font-size:20px; }
.arrow{
    width:13px;
    height:10px;
    viewport-fit: 0 0 13 10;
}
.arrow{
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-10px);
    transition: all .3s ease;
}
.cta:hover::before{
    width:100%;
    background:rgba(250,250,250,.5);
}
.cta:hover svg{ transform: translateX(0);}

.bar {
    display:flex;
    height:50px;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    color:#fff;
}
.content_wrap{
    width:100%;
    position:relative;
    
}
.content_box{
    display:flex;
    justify-content: space-between;
    padding:15px 20px;
    border-bottom: 1px solid #cdcdcd;
}
.item{
    display:flex;
    flex-direction: column;
    width:250px;
    height:350px;
    justify-content: space-between;
}
.item_img_box{
    width:100%;
    height:250px;
    overflow: hidden;
}
.item_img{width:100%; }
.item a {text-decoration: none; color:#000;}
.item a .item_title{ font-size:20px; font-weight:500;}
.item a .item_money{font-size:20px; color:red};
.item_point{font-size:15px;}
.item_point span{color:red; display:inline-block;padding-right:5px;}






/*===  사이드  =====*/
#side{
    position:fixed;
    left:0;
    top:50%;
    padding:40px;
}
#side .side_menu .sub_link {
    
    position:relative;
}
#side .side_menu .sub_link a{color:#acacac;text-decoration: none;}
.link_line{
    opacity: 0;
    width:30px;
    height:24px;
    position: absolute;
    top:0;
    left:-40px;
    viewport-fit: 0 0 13 10;
}
#side .side_menu .sub_link span::before{
    content:"";
    position:relative;
    display:inline-block;
    width:11px;
    height:11px;
    background:#acacac;
    border-radius: 100%;
    left:-15px;
}

#side .side_menu .side_active {
    background:#DC3127;
    color:#fff;
    border-radius: 5px;
}
#side .side_menu .side_active a{color:#fff;}
#side .side_menu .side_active .link_line{
    opacity: 1;
}
#side .side_menu .side_active span::before{
    background:#DC3127;
}






/* =====    하단 ======= */
#footer{
    width: 100%;
    height: 100px;
    padding: 20px 0 10px 0;
    border-top: 3px double #000;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sns{
    display: flex;
    align-items:center;
}
.sns i{
    margin-left: 20px;
    font-size: 70px;
}
.sns .d{
    background: linear-gradient(to bottom left, #4441da, #e62a7f, #f49f4e);
    -webkit-background-clip: text;
    color: transparent;
}
.sns .e{
    color:#1d9bf0;
}
.sns .f{
    color:#0733ca;
}